
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Liên hệ</h2>
    <h4>Tạ Thị Thu Hương</h4>
    <h4>Đỗ Hoàng Thanh Tuấn</h4>

    <br />
    <ul class="list-unstyled">
        <li>
            <a href="#!"><i class="glyphicon glyphicon-map-marker"></i>Mọi nội dung góp ý xin gửi về địa chỉ:DoAn3</a>
        </li>
        <li>
            <a href="#!"><i class="glyphicon glyphicon-earphone"></i>01697653197</a>
        </li>
        <li>
            <a href="#!"><i class="glyphicon glyphicon-envelope"></i>https://www.facebook.com/huong.rua.56</a>
        </li>

    </ul>
</div>

