
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Giới thiệu</h2>
    <h4>Tạ Thị Thu Hương</h4>
    <h4>Đỗ Hoàng Thanh Tuấn</h4>
</div>

