
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComfirmEmail</title>
</head>
<body>
    <div> 
        Bạn đã kích hoạt thành công
        @Html.ActionLink("Đăng nhập", "Login", "User");
    </div>
</body>
</html>
