
@{
    /**/

    ViewBag.Title = "Xác nhận thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Bạn đã kích hoạt thành công
    @Html.ActionLink("Đăng nhập", "Login", "User");
</div>

